<mat-card>
    <mat-card-title>Client</mat-card-title>

    <mat-card-content>
        <mat-grid-list cols="2">
            <div>
                <video #localVideo autoplay></video>
                <p> Client</p>
            </div>
            <div>
                <video #remoteVideo autoplay></video>
                <p> Support </p>
            </div>

        </mat-grid-list>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button [ngClass]="{active: videoEnabled}" (click)="connect()">{{btnConnection}}</button>

        <button mat-raised-button color="primary" (click)="makeCall()">
            <mat-icon>phone</mat-icon> Call
        </button>
        <button mat-raised-button color="primary" (click)="answerCall()">
            <mat-icon>ring_volume</mat-icon> Answer
        </button>
    </mat-card-actions>
</mat-card>