mat-card{
    width: 800px;
    margin: 20px auto;
    background: whitesmoke;
}

mat-card-title{
    text-align: center;
}

mat-card-content{
    text-align: center;
}

video{
    border: solid 1px black;
    margin: 16px;
    transform: scaleX(-1)
}

mat-card-actions{
    text-align: center;
    margin: 40px;
}
