<mat-card>
	<mat-card-title>Client</mat-card-title>

	<mat-card-content>
		<mat-grid-list cols="2">
			<video #localVideo autoplay [hidden]="!videoEnabled"></video>
			<video #remoteVideo autoplay [hidden]="!videoEnabled"></video>
		</mat-grid-list>
	</mat-card-content>

	<mat-card-actions>
		<button mat-raised-button [ngClass]="{active: videoEnabled}" (click)="enableVideo()">
			<mat-icon>videocam</mat-icon> {{btnEnableVideoText}}
		</button>

		<button mat-raised-button color="primary" (click)="makeCall()">
			<mat-icon>phone</mat-icon> Call
		</button>
	</mat-card-actions>
</mat-card>